<f:layout name="Default" />

<f:section name="iconButtons" />

<f:section name="main">
	{namespace df=SGalinski\DfTools\ViewHelpers}
	<df:addJavaScriptFile javaScriptFile="{f:uri.resource(path:'Scripts/HelpPanel.js')}" />
	<df:addJavaScriptFile javaScriptFile="{f:uri.resource(path:'Scripts/RecordSet/Store.js')}" />
	<df:addJavaScriptFile javaScriptFile="{f:uri.resource(path:'Scripts/LinkCheck/Store.js')}" />
	<df:addJavaScriptFile javaScriptFile="{f:uri.resource(path:'Scripts/LinkCheck/App.js')}" />

	<h3 class="uppercase">
		<f:translate key="tx_dftools_common.function.linkCheckOverview" />
	</h3>

	<f:flashMessages renderMode="div" />
	<div id="tx_dftools-helpContent">
		<p class="help">
			<f:translate key="tx_dftools_common.function.linkCheckOverview.help" htmlEscape="false" />
		</p>
	</div>

	<div id="tx_dftools-help"></div>
	<div id="tx_dftools"></div>
</f:section>